
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
}


body {

    background: url(https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    color: black;
}

.video-background {
    height: 300px auto;
    
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
}

#Video {
 
    width: 440px;
    height: 250px;
  }

  #Video-2 {
    width: 440px;
    height: 250px;
  }
  #Video-3 {
    width: 440px;
    height: 250px;
  }

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.plans {
    color: rgb(157, 155, 155);
}

h3 {
    color: black;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color:  rgb(157, 155, 155);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.weekday {
    margin: 4px;
    color: black;
}



.greeting .title {
    display: flex;
}

.greeting .title input {
    margin-left: 1rem;
    }

.greeting .title, 
.greeting .title input {
    color:  rgb(157, 155, 155);
    font-size: 1.5rem;
    font-weight: 700;
    
    
}

.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color:  black;
    background-color:rgba(255, 255, 255, 0.3);
    margin-bottom: 1.5rem;
    }



.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-bottom: 1.5rem;
    
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.4);
    padding: 1.5rem;
    cursor: pointer;
    }

    .create-todo .options label:hover {
        background-color:rgba(255, 255, 255);
    }

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    
    border: 2px solid green;
    }

.bubble.weekend {
    border-color: black;
    box-shadow: black;
}

.bubble::after {
    content: '';
    display: block;
    opacity: 0;
    width: 0px;
    height: 0px;
    background-color: green;
    box-shadow: green;
    
    transition: 0.6s ease-in-out;
}

.bubble.weekend::after {
    background-color: black;
    box-shadow: black;
}

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}

.create-todo .options label div {
    color: grey;
    font-size: 1.125rem;
    margin-top: 1rem;
}

.create-todo input[type="submit"] {
    display: block;
    
    width: 30%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    background-color: white;
    color:  rgb(157, 155, 155);
    cursor: pointer;
   }

   input[type="submit"]:hover {
    background: green;
    color: white;
    padding: 20px;
    font-size: 30px;
   }





.todo-list .todo-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.4);
    padding: 1rem;
    margin-bottom: 1rem;
}



.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
   
}

.todo-item .todo-content {
    flex: 1 1 0%;
}

.todo-item .todo-content input {
    color: black;
    font-size: 2rem;
}

.todo-item .actions {
    display: flex;
    align-items: center;
}

.todo-item .actions button {
    display: block;
    padding: 1.5rem;
   
    color: white;
    cursor: pointer;
   }



.todo-item .actions .edit {
    margin-right: 0.5rem;
    color: black;
    border: 2px solid black;
}
.todo-item .actions .edit:hover {
    background: orange;
    color: white;
}

.todo-item .actions .delete {
    background-color: rgba(25, 25, 89, 0.633);
}
.todo-item .actions .delete:hover {
    background: red;
    color: white;
    font-size: 15px;
}

.todo-item.done .todo-content input {
    text-decoration: line-through;
    color: grey;
}